.password-container {
  width: 100%;
  margin-bottom: 10px;
}

.password-bar {
  height: 10px;
  width: 100%;
  background-color: lightgray;
}

.password-strength-fill {
  height: 100%;
  transition: width 0.3s ease;
}

.strength-0 {
  background-color: gray;
}

.strength-1 {
  background-color: red;
}

.strength-2 {
  background-color: yellow;
}

.strength-3 {
  background-color: green;
}
