.search-res {
  border: 2px solid #00ff00;
  padding: 20px;
  margin: 10px;
  background-color: #222;
  min-width: 550px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.result-item {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 200px;
  text-align: center;
  color: #00ff00;
}

.result-item:hover {
  transform: scale(1.05);
}

.result-item h3 {
  background-color: #00ff00;
  color: #282828;
  margin: 0;
  padding: 10px 0;
}

.result-item p {
  color: #aaa;
  margin: 10px 0;
  padding: 0 10px;
}

.result-item img {
  border-bottom: 1px solid #00ff00;
  width: 100%;
  height: auto;
}
